@import 'bootstrap/scss/functions';
@import './variables';
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Chiron+GoRound+TC:wght@200..900&family=LXGW+WenKai+Mono+TC&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import './scss/components/header';
@import './scss/components/sidebar';

.font-anta {
  font-family: 'Anta', sans-serif;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-lxgw {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}

.chiron-round-500 {
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}